<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assets</title>
</head>
<body>
<h2>Assets list:</h2>
      {% if flash_messages %}
        <ul class=flashes>
        {% for message in flash_messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
<div class="bordered">
<table>
    <tr>
        <td>Source ID:</td>
        <td>Type:</td>
        <td>Latitude:</td>
        <td>Longitude:</td>
        <td>Owner of data:</td>
        <td>Date of insert:</td>
    </tr>
    {% for asset in assets_data %}
    <tr>
        <td>{{ asset.source_id }}</td>
        <td>{{ asset.type }}</td>
         <td>{{ asset.latitude }}</td>
        <td>{{ asset.longitude }}</td>
         <td>{{ asset.owner }}</td>
        <td>{{ asset.date }}</td>
    </tr>
    {% endfor %}
</table>
 </div>
</body>
</html>
<style>
    .bordered {
        border: 1px solid yellow;
        background: #EFEFEF;
        padding: 20px;
    }

    table {
        border-collapse: collapse;
    }

    td {
        border: 1px solid black;
        padding: 5px;
    }
</style>